page-classifieds {
    
    ion-title{
        background: secondary;
    }
    .item-md{
        
    background: #E5E8E8;
    }
    
    .card-content-md{
        
        background: #E5E8E8;
        }
         
    .row{
        
        background: #F2F4F4;
        }

}
