page-event {

    ion-title{
        background: secondary;
    }
    .item-md{
        
    background: cyan;
    }
    
    .card-content-md{
        
        background: white;
        }
         
    .row{
        
        background: red;
        }
}